[submodule "searcher/api/leadersofdigital-analytics-toolkit"]
	path = searcher/api/leadersofdigital-analytics-toolkit
	url = https://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@github.com/AlgebraicWolf/leadersofdigital-analytics-toolkit
